*{
	margin: 0 auto;
}

img {
	margin: 0 auto;

}



body{
	background: #fcfcfc;

}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  
}



@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.content {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


nav{
	background: #001a33;
	

}

li{
	font-family: verdana;
	font-size: 20px;
	list-style: none;


}

nav ul{

	list-style-type: none;
	padding: 0;
	
	
}



nav a{
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px;
	
  	color: #fff;

  }

nav a:hover{
	background-color: #72bcd4; 
}

@media screen and (min-width: 750px){

	nav ul{
		display: flex;
		justify-content: flex-start;
}

.wrapper{
	background-color: #eee;
	flex-basis:1200px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	border-radius: 10px;
}


.box2{
	border: 2px solid #001a33;
	flex-basis: 1150px;
	margin: 30px;
	border-radius: 15px;
}

.box3{
	border:  2px solid #001a33; 
	flex-basis: 1150px;
	margin: 30px;
	border-radius: 15px;
}

.box4{
	border: 2px solid #001a33; 
	flex-basis: 1150px;
	margin: 30px;
	border-radius: 15px;
}

.box5{
	border: 2px solid #001a33; 
	flex-basis: 1150px;
	margin: 30px;
	border-radius: 15px;

}

.heading{

	display: flex;
	background: #001a33;
	border-radius: 11px 11px 0px 0px;
	padding: 5px;

}


h2{
	color: white;
}

.content{
	display: flex;
	padding: 5px;
	padding-top: 20px;
	background: #fff;
	border-radius: 0px 0px 15px 15px;

}


.image{
	margin: 0 auto;
	background: #eee;
	display: flex;

	flex-basis: 1200px;



	justify-content: center;
	height: 1000px;
}

.image1 img{
	border-radius: 25px;
	padding: 10px;
	flex-basis:  1200px;
}


.image1{
	
}




/* transparent box around the above  text*/
h1 span{
	color:white;
	background: rgb(0,0,); 
	background: rgba(0,0,0,0.8);
	padding: 10px;
	border-radius: 10px;
}



.foot{
	background-color: #001a33;
	color: white;
	text-align: center;


}

footer{
	
	padding-bottom: 50px;
	padding-top: 50px;
}

.foot a{
	text-decoration: none;
	color: #fff;
}

.button{
	padding: 20px;
}

/* (read more about Elon button) */
.button a{
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	font-style: bold;
	color: orange;
}

.button a:hover{
		background-color: rgba(0,0,0,0.2);
}








